extends ../layout/base

append vars
    - title = 'All Posts'
block content
    .row.row-cards
        .col-lg-12
            .card
                table.table.card-table.table-vcenter.table-products
                    if posts
                        tr
                            th Image
                            th Title
                            th Category
                            th.text-right Date
                            th.text-right(colspan="2") Actions
                        each post, index in posts
                            tr
                                td
                                    img.h-8(src="/uploads" + post.uploads[0].path, alt="")
                                td
                                    | #{post.title}
                                td
                                    | #{post.category.title}
                                td.text-right.text-muted
                                    - var date = new Date(post.updatedAt);
                                    - var mm = date.getMonth() + 1;
                                    - var dd = date.getDate();
                                    if mm < 10
                                        - mm = '0' + mm
                                    if dd < 10
                                        - dd = '0' + dd
                                    | #{dd}-#{mm}-#{date.getFullYear()}
                                td.text-right
                                    a.btn.btn-outline-warning(href="/admin/posts/edit/" + post._id)
                                        i.fa.fa-edit
                                td.text-right
                                    a.deletePost.btn.btn-outline-danger(href="#", data-id=post._id)
                                        i.fa.fa-trash