extends layout/base

append vars
	- title = 'Главная'
	- description = 'Описание'
block content
	- var defaultLink = 'javascript:void(0);'
	.loader-section
		.polygon-loader
			- for(var i = 0; i < 6; i++)
				div
	include layout/partials/header
	.main
		.container
			include layout/partials/home-slider
			if categories
				each category, index in categories
					if index != 0 
						- continue
					section.category-section
						.section-title
							.section-title__text
								| #{category.title}
						.posts
							each post, index in posts
								if post.category._id.toString() == category._id.toString()
									.postsItem
										.postsItem__content
											.postsItem__title
												| #{post.title}
											.postsItem__author
												| Админ
											.postsItem__lead
												| #{post.content}
										.postsItem__image(style="background-image: url(/uploads" + post.uploads[0].path + ");")
										a.postsItem__link(href="/post/" + post.url)
			section.latest-section
				.section-title
						.section-title__text
							| Последние новости
				.latest-posts
					- for(var l = 0; l < 4; l++) {
						- lat = 0
						.latest-posts-column
							- lat = l * 2
							each latestPost, index in latestPosts
								if (lat <= index && index < (lat + 2))
									.latest-postsItem
										.latest-postsItem__lead
											| #{latestPost.title}
										.latest-postsItem__date
											| #{latestPost.date}
										a.latest-postsItem__link(href="/post/" + latestPost.url)
					- }
			if categories
				each category, index in categories
					- var noPost = true
					each post, index in posts
						if post.category._id.toString() == category._id.toString()
							- noPost = false
					if index == 0 || noPost
						- continue
					section.category-section
						.section-title
							.section-title__text
								| #{category.title}
						.posts
							each post, index in posts
								if post.category._id.toString() == category._id.toString()
									.postsItem
										.postsItem__content
											.postsItem__title
												| #{post.title}
											.postsItem__author
												| Админ
											.postsItem__lead
												| #{post.content}
										.postsItem__image(style="background-image: url(/uploads" + post.uploads[0].path + ");")
										a.postsItem__link(href="/post/" + post.url)
			include layout/partials/footer
	include layout/partials/responsive-menu